################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CajaChica_Entregas/FileContentIndex/f025fca9-be8c-46ab-a628-15706edba849.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/675cd12d-0f62-4fff-876f-b66c2bb9ac39.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/8cc43aba-c87f-44f4-98ce-d3befe471adc.vsidx
