################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CajaChica_Entregas/FileContentIndex/f025fca9-be8c-46ab-a628-15706edba849.vsidx
