################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CajaChica_Entregas/FileContentIndex/f025fca9-be8c-46ab-a628-15706edba849.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/675cd12d-0f62-4fff-876f-b66c2bb9ac39.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/8cc43aba-c87f-44f4-98ce-d3befe471adc.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/638845e6-7b1c-4de8-b6a0-e534659c8bc8.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/b21eee6e-3f24-43db-b6b8-d1591b94aedb.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/ce6dd51f-743b-47b9-8af7-007922f3071d.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/ee253083-c9cb-4744-9447-821c6477ca25.vsidx
/.vs/STR_CajaChica_Entregas/FileContentIndex/aa034004-3a59-46f5-87bd-9ac39a0d14e2.vsidx
